@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/*********************GENERAL*****************************************/

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  @apply bg-primary text-typo-default;
}

.styled-navbar-link {
  @apply text-typo-default p-4 relative font-light;
}

.styled-navbar-link:hover {
  text-shadow: 1px 0 0 #232321;
  @apply text-typo-active;
}

.styled-navbar-link-active {
  text-shadow: 1px 0 0 #232321;
  @apply text-typo-active;
}

.styled-navbar-link-active::after {
  content: "";
  height: 6px;
  bottom: -2px;
  @apply bg-accent absolute w-full left-0;
}

.styled-navbar-link-mobile {
  @apply text-typo-default p-4 relative font-light text-2xl text-center;
}

.styled-navbar-link-mobile-active {
  @apply text-typo-active font-semibold;
}

.styled-language-link {
  @apply text-typo-default relative font-light uppercase px-1;
}

.styled-language-link:hover {
  @apply text-typo-active;
}

.styled-language-link-active {
  @apply text-typo-active font-semibold;
}

.styled-burger-bar {
  @apply w-8 h-1 bg-accent  transition-all duration-300 ease-linear relative;
  transform-origin: 1px;
}

/*********************HOW TO PAGE*****************************************/

.styled-instructions ol li {
  @apply pb-4;
}

.styled-howToBG-left {
  background-image: url("../../public/img/howTo_BG_left.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  top: 14em;
  position: relative;
}

.styled-howToBG-right {
  background-image: url("../../public/img/howTo_BG_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: bottom;
  bottom: 6em;
  position: relative;
}

.styled-carousel-slide-img {
  width: auto !important;
  @apply mx-auto;
}
.styled-dotgroup button {
  @apply h-3 w-3 border border-secondary rounded-full;
}

.carousel__dot--selected {
  @apply bg-secondary;
}
/*********************BUY PAGE*****************************************/

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
